
@{
    ViewBag.Title = "Thank You";
    Layout = "~/Views/Shared/_LayoutPageWithTheme.cshtml";
}


<div class="w3l-middle py-5" style="text-align:center">
<div class="container py-xl-5 py-lg-3">
    <div class="welcome-left py-md-5 py-3">
        <h6></h6>
        <h4>Thank you for your order.</h4>
        <p class="pr-lg-5">
            Your Order Id @*= @ViewBag.OrderId*@
        </p>
        <div class="buttons mt-5">
            <a>
    @Html.ActionLink("Back", "ContainerRentList", "Home")
            </a>
            <a></a>
        </div>
    </div>
</div>
</div>
